@use 'sass:map';
@use '../../helpers' as *;

$palettes: (
  'primary100': '#fff',
  'primary99': '#fffbfe',
  'primary98': '#fef7ff',
  'primary95': '#f6edff',
  'primary90': '#eaddff',
  'primary80': '#d0bcff',
  'primary70': '#b69df8',
  'primary60': '#9a82db',
  'primary50': '#7f67be',
  'primary40': '#6750a4',
  'primary30': '#4f378b',
  'primary20': '#381e72',
  'primary10': '#21005d',
  'primary0': '#000',
  'secondary100': '#fff',
  'secondary99': '#fffbfe',
  'secondary98': '#fef7ff',
  'secondary95': '#f6edff',
  'secondary90': '#e8def8',
  'secondary80': '#ccc2dc',
  'secondary70': '#b0a7c0',
  'secondary60': '#958da5',
  'secondary50': '#7a7289',
  'secondary40': '#625b71',
  'secondary30': '#4a4458',
  'secondary20': '#332d41',
  'secondary10': '#1d192b',
  'secondary0': '#000',
  'tertiary100': '#fff',
  'tertiary99': '#fffbfa',
  'tertiary98': '#fff8f8',
  'tertiary95': '#ffecf1',
  'tertiary90': '#ffd8e4',
  'tertiary80': '#efb8c8',
  'tertiary70': '#d29dac',
  'tertiary60': '#b58392',
  'tertiary50': '#986977',
  'tertiary40': '#7d5260',
  'tertiary30': '#633b48',
  'tertiary20': '#492532',
  'tertiary10': '#31111d',
  'tertiary0': '#000',
  'error100': '#fff',
  'error99': '#fffbf9',
  'error98': '#fff8f7',
  'error95': '#fceeee',
  'error90': '#f9dedc',
  'error80': '#f2b8b5',
  'error70': '#ec928e',
  'error60': '#e46962',
  'error50': '#dc362e',
  'error40': '#b3261e',
  'error30': '#8c1d18',
  'error20': '#601410',
  'error10': '#410e0b',
  'error0': '#000',
  'neutral100': '#fff',
  'neutral99': '#fffbff',
  'neutral98': '#fef7ff',
  'neutral96': '#f7f2fa',
  'neutral95': '#f5eff7',
  'neutral94': '#f3edf7',
  'neutral92': '#ece6f0',
  'neutral90': '#e6e0e9',
  'neutral87': '#ded8e1',
  'neutral80': '#cac5cd',
  'neutral70': '#aea9b1',
  'neutral60': '#938f96',
  'neutral50': '#79767d',
  'neutral40': '#605d64',
  'neutral30': '#48464c',
  'neutral24': '#3b383e',
  'neutral22': '#36343b',
  'neutral20': '#322f35',
  'neutral17': '#2b2930',
  'neutral12': '#211f26',
  'neutral10': '#1d1b20',
  'neutral6': '#141218',
  'neutral4': '#0f0d13',
  'neutral0': '#000',
  'neutral-variant100': '#fff',
  'neutral-variant99': '#fffbfe',
  'neutral-variant98': '#fdf7ff',
  'neutral-variant95': '#f5eefa',
  'neutral-variant90': '#e7e0ec',
  'neutral-variant80': '#cac4d0',
  'neutral-variant70': '#aea9b4',
  'neutral-variant60': '#938f99',
  'neutral-variant50': '#79747e',
  'neutral-variant40': '#605d66',
  'neutral-variant30': '#49454f',
  'neutral-variant20': '#322f37',
  'neutral-variant10': '#1d1a22',
  'neutral-variant0': '#000',
);

:root {
  @include define-token(
    $class: 'ref',
    $category: 'palette',
    $map: $palettes,
  );
}
