@use 'sass:map';
@use '../../helpers' as *;

$palettes: (
  'white': '#fff',
  'black': '#000',
  'blue100': '#fff',
  'blue98': '#f5faff',
  'blue95': '#e7f2ff',
  'blue90': '#d0e4ff',
  'blue80': '#a1c9ff',
  'blue70': '#76acff',
  'blue60': '#4e8ff8',
  'blue50': '#3271ea',
  'blue40': '#1157ce',
  'blue30': '#04409f',
  'blue20': '#012c6f',
  'blue10': '#001944',
  'blue0': '#000',
  'yellow100': '#fff',
  'yellow98': '#fffade',
  'yellow95': '#fff2b4',
  'yellow90': '#ffe07c',
  'yellow80': '#fcbd00',
  'yellow70': '#ef9800',
  'yellow60': '#d37b00',
  'yellow50': '#b16300',
  'yellow40': '#8f4e06',
  'yellow30': '#6d3a01',
  'yellow20': '#4d2600',
  'yellow10': '#2f1400',
  'yellow0': '#000',
  'red100': '#fff',
  'red98': '#fff8f8',
  'red95': '#ffecee',
  'red90': '#ffdadc',
  'red80': '#ffb3ae',
  'red70': '#ff8983',
  'red60': '#f55e57',
  'red50': '#db372d',
  'red40': '#b3251e',
  'red30': '#8a1a16',
  'red20': '#60150f',
  'red10': '#3a0907',
  'red0': '#000',
  'purple100': '#fff',
  'purple98': '#fdf8ff',
  'purple95': '#f7ecfe',
  'purple90': '#eedcfe',
  'purple80': '#d9bafd',
  'purple70': '#c597ff',
  'purple60': '#ad72ff',
  'purple50': '#9254ea',
  'purple40': '#7438d2',
  'purple30': '#5629a4',
  'purple20': '#400b84',
  'purple10': '#280255',
  'purple0': '#000',
  'blue-variant100': '#fff',
  'blue-variant98': '#f4faff',
  'blue-variant95': '#e0f4ff',
  'blue-variant90': '#bde9ff',
  'blue-variant80': '#67d4ff',
  'blue-variant70': '#00bbea',
  'blue-variant60': '#009dc9',
  'blue-variant50': '#0081a8',
  'blue-variant40': '#006788',
  'blue-variant30': '#004d68',
  'blue-variant20': '#003549',
  'blue-variant10': '#001f2d',
  'blue-variant0': '#000',
  'cyan100': '#fff',
  'cyan98': '#f0fbff',
  'cyan95': '#d8f6ff',
  'cyan90': '#acedff',
  'cyan80': '#60d5f3',
  'cyan70': '#00bbdf',
  'cyan60': '#009ebb',
  'cyan50': '#00839b',
  'cyan40': '#00687c',
  'cyan30': '#004e5d',
  'cyan20': '#003641',
  'cyan10': '#001f26',
  'cyan0': '#000',
  'grey100': '#fff',
  'grey98': '#f9f9f9',
  'grey95': '#f2f2f2',
  'grey90': '#e3e3e3',
  'grey80': '#c7c7c7',
  'grey70': '#ababab',
  'grey60': '#919191',
  'grey50': '#777',
  'grey40': '#5e5e5e',
  'grey30': '#474747',
  'grey20': '#303030',
  'grey10': '#1b1b1c',
  'grey0': '#000',
  'green100': '#fff',
  'green98': '#f2fcef',
  'green95': '#ddf8d8',
  'green90': '#beefbb',
  'green80': '#80da88',
  'green70': '#44c265',
  'green60': '#1aa64a',
  'green50': '#128937',
  'green40': '#006c35',
  'green30': '#00522c',
  'green20': '#00381f',
  'green10': '#002110',
  'green0': '#000',
  'grey-variant100': '#fff',
  'grey-variant98': '#f7faf7',
  'grey-variant95': '#eff2ef',
  'grey-variant90': '#e1e3e1',
  'grey-variant80': '#c4c7c5',
  'grey-variant70': '#a9acaa',
  'grey-variant60': '#8e918f',
  'grey-variant50': '#747775',
  'grey-variant40': '#5c5f5e',
  'grey-variant30': '#444746',
  'grey-variant20': '#2d312f',
  'grey-variant10': '#191d1c',
  'grey-variant0': '#000',
  'orange100': '#fff',
  'orange98': '#fff8f4',
  'orange95': '#ffede1',
  'orange90': '#ffdcc3',
  'orange80': '#ffb683',
  'orange70': '#ff8d41',
  'orange60': '#e86e00',
  'orange50': '#c05a01',
  'orange40': '#9a4600',
  'orange30': '#753403',
  'orange20': '#522302',
  'orange10': '#321200',
  'orange0': '#000',
  'pink100': '#fff',
  'pink98': '#fff7fc',
  'pink95': '#ffecf6',
  'pink90': '#ffd8ef',
  'pink80': '#ffaee4',
  'pink70': '#ff7dd2',
  'pink60': '#f94aab',
  'pink50': '#dc258d',
  'pink40': '#b60d6e',
  'pink30': '#8d0053',
  'pink20': '#620438',
  'pink10': '#3d0023',
  'pink0': '#000',
);

:root {
  @include define-token(
    $class: 'ref',
    $category: 'palette',
    $map: $palettes,
  );
}
