@use '../../helpers' as *;

$typescales: (
  'display-large': (
    'DEFAULT': 'var(--md-sys-typescale-display-large-weight) var(--md-sys-typescale-display-large-size) / var(--md-sys-typescale-display-large-line-height) var(--md-sys-typescale-display-large-font)',
    'font': 'var(--md-ref-typeface-brand)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '3.5625rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-display-large-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 57",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'display-medium': (
    'DEFAULT': 'var(--md-sys-typescale-display-medium-weight) var(--md-sys-typescale-display-medium-size) / var(--md-sys-typescale-display-medium-line-height) var(--md-sys-typescale-display-medium-font)',
    'font': 'var(--md-ref-typeface-brand)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '2.8125rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-display-medium-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 45",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'display-small': (
    'DEFAULT': 'var(--md-sys-typescale-display-small-weight) var(--md-sys-typescale-display-small-size) / var(--md-sys-typescale-display-small-line-height) var(--md-sys-typescale-display-small-font)',
    'font': 'var(--md-ref-typeface-brand)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '2.25rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-display-small-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 36",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'headline-large': (
    'DEFAULT': 'var(--md-sys-typescale-headline-large-weight) var(--md-sys-typescale-headline-large-size) / var(--md-sys-typescale-headline-large-line-height) var(--md-sys-typescale-headline-large-font)',
    'font': 'var(--md-ref-typeface-brand)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '2rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-headline-large-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 32",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'headline-medium': (
    'DEFAULT': 'var(--md-sys-typescale-headline-medium-weight) var(--md-sys-typescale-headline-medium-size) / var(--md-sys-typescale-headline-medium-line-height) var(--md-sys-typescale-headline-medium-font)',
    'font': 'var(--md-ref-typeface-brand)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '1.75rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-headline-medium-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 28",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'headline-small': (
    'DEFAULT': 'var(--md-sys-typescale-headline-small-weight) var(--md-sys-typescale-headline-small-size) / var(--md-sys-typescale-headline-small-line-height) var(--md-sys-typescale-headline-small-font)',
    'font': 'var(--md-ref-typeface-brand)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '1.5rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-headline-small-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 24",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'title-large': (
    'DEFAULT': 'var(--md-sys-typescale-title-large-weight) var(--md-sys-typescale-title-large-size) / var(--md-sys-typescale-title-large-line-height) var(--md-sys-typescale-title-large-font)',
    'font': 'var(--md-ref-typeface-brand)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '1.375rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-title-large-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 22",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'title-medium': (
    'DEFAULT': 'var(--md-sys-typescale-title-medium-weight) var(--md-sys-typescale-title-medium-size) / var(--md-sys-typescale-title-medium-line-height) var(--md-sys-typescale-title-medium-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-medium)',
    'size': '1rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-title-medium-line-height)',
    'wght': "'wght' 500",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 16",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'title-small': (
    'DEFAULT': 'var(--md-sys-typescale-title-small-weight) var(--md-sys-typescale-title-small-size) / var(--md-sys-typescale-title-small-line-height) var(--md-sys-typescale-title-small-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-medium)',
    'size': '0.875rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-title-small-line-height)',
    'wght': "'wght' 500",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 14",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'body-large': (
    'DEFAULT': 'var(--md-sys-typescale-body-large-weight) var(--md-sys-typescale-body-large-size) / var(--md-sys-typescale-body-large-line-height) var(--md-sys-typescale-body-large-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '1rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-body-large-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 16",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'body-medium': (
    'DEFAULT': 'var(--md-sys-typescale-body-medium-weight) var(--md-sys-typescale-body-medium-size) / var(--md-sys-typescale-body-medium-line-height) var(--md-sys-typescale-body-medium-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '0.875rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-body-medium-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 14",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'body-small': (
    'DEFAULT': 'var(--md-sys-typescale-body-small-weight) var(--md-sys-typescale-body-small-size) / var(--md-sys-typescale-body-small-line-height) var(--md-sys-typescale-body-small-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-regular)',
    'size': '0.75rem',
    'tracking': '0.00625rem',
    'line-height': 'var(--md-ref-typeface-body-small-line-height)',
    'wght': "'wght' 400",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 12",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'label-large': (
    'DEFAULT': 'var(--md-sys-typescale-label-large-weight) var(--md-sys-typescale-label-large-size) / var(--md-sys-typescale-label-large-line-height) var(--md-sys-typescale-label-large-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-medium)',
    'size': '0.875rem',
    'tracking': '0',
    'line-height': 'var(--md-ref-typeface-label-large-line-height)',
    'wght': "'wght' 500",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 14",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'label-medium': (
    'DEFAULT': 'var(--md-sys-typescale-label-medium-weight) var(--md-sys-typescale-label-medium-size) / var(--md-sys-typescale-label-medium-line-height) var(--md-sys-typescale-label-medium-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-medium)',
    'size': '0.75rem',
    'tracking': '0.00625rem',
    'line-height': 'var(--md-ref-typeface-label-medium-line-height)',
    'wght': "'wght' 500",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 12",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'label-small': (
    'DEFAULT': 'var(--md-sys-typescale-label-small-weight) var(--md-sys-typescale-label-small-size) / var(--md-sys-typescale-label-small-line-height) var(--md-sys-typescale-label-small-font)',
    'font': 'var(--md-ref-typeface-plain)',
    'weight': 'var(--md-ref-typeface-weight-medium)',
    'size': '0.6875rem',
    'tracking': '0.00625rem',
    'line-height': 'var(--md-ref-typeface-label-small-line-height)',
    'wght': "'wght' 500",
    'grad': "'GRAD' 0",
    'wdth': "'wdth' 100",
    'rond': "'ROND' 0",
    'opsz': "'opsz' 11",
    'crsv': "'CRSV' 0",
    'slnt': "'slnt' 0",
    'fill': "'FILL' 0",
    'hexp': "'HEXP' 0",
  ),
  'emphasized': (
    'display-large': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-display-large-weight) var(--md-sys-typescale-emphasized-display-large-size) / var(--md-sys-typescale-emphasized-display-large-line-height) var(--md-sys-typescale-emphasized-display-large-font)',
      'font': 'var(--md-ref-typeface-brand)',
      'line-height': 'var(--md-ref-typeface-display-large-line-height)',
      'size': '3.5625rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 57",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'display-medium': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-display-medium-weight) var(--md-sys-typescale-emphasized-display-medium-size) / var(--md-sys-typescale-emphasized-display-medium-line-height) var(--md-sys-typescale-emphasized-display-medium-font)',
      'font': 'var(--md-ref-typeface-brand)',
      'line-height': 'var(--md-ref-typeface-display-medium-line-height)',
      'size': '2.8125rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 45",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'display-small': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-display-small-weight) var(--md-sys-typescale-emphasized-display-small-size) / var(--md-sys-typescale-emphasized-display-small-line-height) var(--md-sys-typescale-emphasized-display-small-font)',
      'font': 'var(--md-ref-typeface-brand)',
      'line-height': 'var(--md-ref-typeface-display-small-line-height)',
      'size': '2.25rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 36",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'headline-large': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-headline-large-weight) var(--md-sys-typescale-emphasized-headline-large-size) / var(--md-sys-typescale-emphasized-headline-large-line-height) var(--md-sys-typescale-emphasized-headline-large-font)',
      'font': 'var(--md-ref-typeface-brand)',
      'line-height': 'var(--md-ref-typeface-headline-large-line-height)',
      'size': '2rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 36",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'headline-medium': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-headline-medium-weight) var(--md-sys-typescale-emphasized-headline-medium-size) / var(--md-sys-typescale-emphasized-headline-medium-line-height) var(--md-sys-typescale-emphasized-headline-medium-font)',
      'font': 'var(--md-ref-typeface-brand)',
      'line-height': 'var(--md-ref-typeface-headline-medium-line-height)',
      'size': '1.75rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 28",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'headline-small': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-headline-small-weight) var(--md-sys-typescale-emphasized-headline-small-size) / var(--md-sys-typescale-emphasized-headline-small-line-height) var(--md-sys-typescale-emphasized-headline-small-font)',
      'font': 'var(--md-ref-typeface-brand)',
      'line-height': 'var(--md-ref-typeface-headline-small-line-height)',
      'size': '1.5rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 24",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'title-large': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-title-large-weight) var(--md-sys-typescale-emphasized-title-large-size) / var(--md-sys-typescale-emphasized-title-large-line-height) var(--md-sys-typescale-emphasized-title-large-font)',
      'font': 'var(--md-ref-typeface-brand)',
      'line-height': 'var(--md-ref-typeface-title-large-line-height)',
      'size': '1.375rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 22",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'title-medium': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-title-medium-weight) var(--md-sys-typescale-emphasized-title-medium-size) / var(--md-sys-typescale-emphasized-title-medium-line-height) var(--md-sys-typescale-emphasized-title-medium-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-title-medium-line-height)',
      'size': '1rem',
      'weight': 'var(--md-ref-typeface-weight-bold)',
      'tracking': '0',
      'wght': "'wght' 600",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 16",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'title-small': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-title-small-weight) var(--md-sys-typescale-emphasized-title-small-size) / var(--md-sys-typescale-emphasized-title-small-line-height) var(--md-sys-typescale-emphasized-title-small-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-title-small-line-height)',
      'size': '0.875rem',
      'weight': 'var(--md-ref-typeface-weight-bold)',
      'tracking': '0',
      'wght': "'wght' 600",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 14",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'body-large': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-body-large-weight) var(--md-sys-typescale-emphasized-body-large-size) / var(--md-sys-typescale-emphasized-body-large-line-height) var(--md-sys-typescale-emphasized-body-large-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-body-large-line-height)',
      'size': '1rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 16",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'body-medium': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-body-medium-weight) var(--md-sys-typescale-emphasized-body-medium-size) / var(--md-sys-typescale-emphasized-body-medium-line-height) var(--md-sys-typescale-emphasized-body-medium-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-body-medium-line-height)',
      'size': '0.875rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 14",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'body-small': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-body-small-weight) var(--md-sys-typescale-emphasized-body-small-size) / var(--md-sys-typescale-emphasized-body-small-line-height) var(--md-sys-typescale-emphasized-body-small-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-body-small-line-height)',
      'size': '0.75rem',
      'weight': 'var(--md-ref-typeface-weight-medium)',
      'tracking': '0',
      'wght': "'wght' 500",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 12",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'label-large': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-label-large-weight) var(--md-sys-typescale-emphasized-label-large-size) / var(--md-sys-typescale-emphasized-label-large-line-height) var(--md-sys-typescale-emphasized-label-large-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-label-large-line-height)',
      'size': '0.875rem',
      'weight': 'var(--md-ref-typeface-weight-bold)',
      'tracking': '0',
      'wght': "'wght' 600",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 14",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'label-medium': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-label-medium-weight) var(--md-sys-typescale-emphasized-label-medium-size) / var(--md-sys-typescale-emphasized-label-medium-line-height) var(--md-sys-typescale-emphasized-label-medium-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-label-medium-line-height)',
      'size': '0.75rem',
      'weight': 'var(--md-ref-typeface-weight-bold)',
      'tracking': '0.00625rem',
      'wght': "'wght' 600",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 12",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
    'label-small': (
      'DEFAULT': 'var(--md-sys-typescale-emphasized-label-small-weight) var(--md-sys-typescale-emphasized-label-small-size) / var(--md-sys-typescale-emphasized-label-small-line-height) var(--md-sys-typescale-emphasized-label-small-font)',
      'font': 'var(--md-ref-typeface-plain)',
      'line-height': 'var(--md-ref-typeface-label-small-line-height)',
      'size': '0.6875rem',
      'weight': 'var(--md-ref-typeface-weight-bold)',
      'tracking': '0.00625rem',
      'wght': "'wght' 600",
      'grad': "'GRAD' 0",
      'wdth': "'wdth' 100",
      'rond': "'ROND' 0",
      'opsz': "'opsz' 11",
      'crsv': "'CRSV' 0",
      'slnt': "'slnt' 0",
      'fill': "'FILL' 0",
      'hexp': "'HEXP' 0",
    ),
  ),
);

:root {
  @include define-token(
    $class: 'sys',
    $category: 'typescale',
    $map: $typescales,
  );
}
