@use '../../helpers' as *;

$typefaces: (
  'brand': "'Google Sans'",
  'plain': "'Google Sans Text'",
  'variable': (
    'plain': "'Google Sans Flex'",
    'brand': "'Google Sans Flex'",
    'wght-regular': "'wght' 400",
    'wght-medium': "'wght' 500",
    'wght-semibold': "'wght' 600",
    'wght-bold': "'wght' 700",
  ),
  'weight-regular': '400',
  'weight-medium': '500',
  'weight-semibold': '600',
  'weight-bold': '700',
  'emphasized': ('rond': "'ROND' 100"),
  'display-large': ('line-height': '4rem'),
  'display-medium': ('line-height': '3.25rem'),
  'display-small': ('line-height': '2.75rem'),
  'headline-large': ('line-height': '2.5rem'),
  'headline-medium': ('line-height': '2.25rem'),
  'headline-small': ('line-height': '2rem'),
  'title-large': ('line-height': '1.75rem'),
  'title-medium': ('line-height': '1.5rem'),
  'title-small': ('line-height': '1.25rem'),
  'label-large': ('line-height': '1.25rem'),
  'label-medium': ('line-height': '1rem'),
  'label-small': ('line-height': '1rem'),
  'body-large': ('line-height': '1.5rem'),
  'body-medium': ('line-height': '1.25rem'),
  'body-small': ('line-height': '1rem'),
);
$small: (
  'brand': "'Roboto'",
  'plain': "'Roboto'",
  'variable': (
    'plain': "'Roboto Flex'",
    'brand': "'Roboto Flex'",
    'wght-regular': "'wght' 400",
    'wght-medium': "'wght' 500",
    'wght-semibold': "'wght' 600",
    'wght-bold': "'wght' 700",
  ),
  'weight-regular': '400',
  'weight-medium': '500',
  'weight-semibold': '600',
  'weight-bold': '700',
  'emphasized': ('rond': "'ROND' 0"),
  'display-large': ('line-height': '4rem'),
  'display-medium': ('line-height': '3.25rem'),
  'display-small': ('line-height': '2.75rem'),
  'headline-large': ('line-height': '2.5rem'),
  'headline-medium': ('line-height': '2.25rem'),
  'headline-small': ('line-height': '2rem'),
  'title-large': ('line-height': '1.75rem'),
  'title-medium': ('line-height': '1.5rem'),
  'title-small': ('line-height': '1.25rem'),
  'label-large': ('line-height': '1.25rem'),
  'label-medium': ('line-height': '1rem'),
  'label-small': ('line-height': '1rem'),
  'body-large': ('line-height': '1.5rem'),
  'body-medium': ('line-height': '1.25rem'),
  'body-small': ('line-height': '1rem'),
);
$large: (
  'brand': "'Roboto'",
  'plain': "'Roboto'",
  'variable': (
    'plain': "'Roboto Flex'",
    'brand': "'Roboto Flex'",
    'wght-regular': "'wght' 400",
    'wght-medium': "'wght' 500",
    'wght-semibold': "'wght' 600",
    'wght-bold': "'wght' 700",
  ),
  'weight-regular': '400',
  'weight-medium': '500',
  'weight-semibold': '600',
  'weight-bold': '700',
  'emphasized': ('rond': "'ROND' 0"),
  'display-large': ('line-height': '5.5625rem'),
  'display-medium': ('line-height': '4.4375rem'),
  'display-small': ('line-height': '3.5625rem'),
  'headline-large': ('line-height': '3.125rem'),
  'headline-medium': ('line-height': '2.8125rem'),
  'headline-small': ('line-height': '2.5625rem'),
  'title-large': ('line-height': '2.25rem'),
  'title-medium': ('line-height': '1.9375rem'),
  'title-small': ('line-height': '1.625rem'),
  'label-large': ('line-height': '1.625rem'),
  'label-medium': ('line-height': '1.3125rem'),
  'label-small': ('line-height': '1.3125rem'),
  'body-large': ('line-height': '1.9375rem'),
  'body-medium': ('line-height': '1.625rem'),
  'body-small': ('line-height': '1.3125rem'),
);
$medium: (
  'brand': "'Roboto'",
  'plain': "'Roboto'",
  'variable': (
    'plain': "'Roboto Flex'",
    'brand': "'Roboto Flex'",
    'wght-regular': "'wght' 400",
    'wght-medium': "'wght' 500",
    'wght-semibold': "'wght' 600",
    'wght-bold': "'wght' 700",
  ),
  'weight-regular': '400',
  'weight-medium': '500',
  'weight-semibold': '600',
  'weight-bold': '700',
  'emphasized': ('rond': "'ROND' 0"),
  'display-large': ('line-height': '4.5625rem'),
  'display-medium': ('line-height': '3.5rem'),
  'display-small': ('line-height': '2.9375rem'),
  'headline-large': ('line-height': '2.625rem'),
  'headline-medium': ('line-height': '2.375rem'),
  'headline-small': ('line-height': '2.1875rem'),
  'title-large': ('line-height': '1.9375rem'),
  'title-medium': ('line-height': '1.6875rem'),
  'title-small': ('line-height': '1.4375rem'),
  'label-large': ('line-height': '1.4375rem'),
  'label-medium': ('line-height': '1.125rem'),
  'label-small': ('line-height': '1.125rem'),
  'body-large': ('line-height': '1.6875rem'),
  'body-medium': ('line-height': '1.4375rem'),
  'body-small': ('line-height': '1.125rem'),
);
$extra-large: (
  'brand': "'Roboto'",
  'plain': "'Roboto'",
  'variable': (
    'plain': "'Roboto Flex'",
    'brand': "'Roboto Flex'",
    'wght-regular': "'wght' 400",
    'wght-medium': "'wght' 500",
    'wght-semibold': "'wght' 600",
    'wght-bold': "'wght' 700",
  ),
  'weight-regular': '400',
  'weight-medium': '500',
  'weight-semibold': '600',
  'weight-bold': '700',
  'emphasized': ('rond': "'ROND' 0"),
  'display-large': ('line-height': '7.5rem'),
  'display-medium': ('line-height': '6.1875rem'),
  'display-small': ('line-height': '5rem'),
  'headline-large': ('line-height': '4.6875rem'),
  'headline-medium': ('line-height': '4.125rem'),
  'headline-small': ('line-height': '3.6875rem'),
  'title-large': ('line-height': '3.3125rem'),
  'title-medium': ('line-height': '2.625rem'),
  'title-small': ('line-height': '2.25rem'),
  'label-large': ('line-height': '2.25rem'),
  'label-medium': ('line-height': '1.875rem'),
  'label-small': ('line-height': '1.8125rem'),
  'body-large': ('line-height': '2.5625rem'),
  'body-medium': ('line-height': '2.1875rem'),
  'body-small': ('line-height': '1.875rem'),
);

:root {
  @include define-token(
    $class: 'ref',
    $category: 'typeface',
    $map: $typefaces,
  );
}
